.blog__list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.blog__list li:nth-child(3n+1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.blog__list li:nth-child(3n+2) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.blog__list li:nth-child(3n+3) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.blog__information p:first-child {
  font-size: 14px;
  color: $grey;
}

.blog__information h4 {
  @include font-cormorant;
  margin: 0;
  font-weight: 600;
  font-size: 26px;
  color: $black;
}
