.blog {
  @include container;
  padding-top: 117px;
}

@media (max-width: $width-only-tablet) {
  .blog {
    padding-top: 67px;
  }
}

@media (max-width: $width-only-mobile) {
  .blog {
    padding-top: 57px;
  }
}

.blog p {
  margin: 20px 0 0 0;
  text-align: center;
}

.blog__list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 64px;
}

@media (max-width: $width-only-tablet) {
  .blog__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 50px;
  }
}

@media (max-width: $width-only-mobile) {
  .blog__list {
    margin-top: 55px;
    grid-row-gap: 40px;
  }
}

.blog__list li {
  min-height: 300px;
}

@media (max-width: $width-only-mobile) {
  .blog__list li {
    min-height: 512px;
  }
}

.blog__list li:nth-child(3n+1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.blog__list li:nth-child(3n+2) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.blog__list li:nth-child(3n+3) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

@media (max-width: $width-only-tablet) {
  .blog__list li:nth-child(3n+3) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}

.blog__list li:nth-child(3n+1),
.blog__list li:nth-child(3n+2) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: $width-only-mobile) {
  .blog__list li:nth-child(3n+1),
  .blog__list li:nth-child(3n+2),
  .blog__list li:nth-child(3n+3) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .blog__list li:nth-child(3n+3) {
    grid-row-gap: 0;
  }
}

.blog__image {
  background-repeat: no-repeat;
  background-size: cover;
}

.blog__image--care {
  background-image: url("../img/blog-care-desktop.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/blog-care-desktop@2x.jpg");
  }
}

@media (max-width: $width-only-tablet) {
  .blog__image--care {
    background-image: url("../img/blog-care-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/blog-care-tablet@2x.jpg");
    }
  }
}

@media (max-width: $width-only-mobile) {
  .blog__image--care {
    background-image: url("../img/blog-care-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/blog-care-mobile@2x.jpg");
    }
  }
}


.blog__image--power {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: url("../img/blog-power-desktop.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/blog-power-desktop@2x.jpg");
  }
}

@media (max-width: $width-only-tablet) {
  .blog__image--power {
    background-image: url("../img/blog-power-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/blog-power-tablet@2x.jpg");
    }
  }
}

@media (max-width: $width-only-mobile) {
  .blog__image--power {
    grid-column-start: 1;
    grid-column-end: 2;
    background-image: url("../img/blog-power-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/blog-power-mobile@2x.jpg");
    }
  }
}

.blog__image--trends {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url("../img/blog-trends-desktop.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/blog-trends-desktop@2x.jpg");
  }
}

@media (max-width: $width-only-tablet) {
  .blog__image--trends {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url("../img/blog-trends-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/blog-trends-tablet@2x.jpg");
    }
  }
}

@media (max-width: $width-only-mobile) {
  .blog__image--trends {
    background-image: url("../img/blog-trends-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/blog-trends-mobile@2x.jpg");
    }
  }
}

.blog__information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 67px;
  background-color: $beige;

  &--trends {
    z-index: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

@media (max-width: $width-only-tablet) {
  .blog__information--trends {
    padding-top: 84px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

@media (max-width: $width-only-mobile) {
  .blog__information {
    padding-top: 44px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    &--trends {
      padding-top: 62px;
    }
  }
}

.blog__information p {
  margin-top: 0;
  margin-bottom: 10px;
}

.blog__information p:first-child {
  font-size: 14px;
  color: $grey;
}

.blog__information h4 {
  @include font-cormorant;
  margin: 0 0 37px;
  font-weight: 600;
  font-size: 26px;
  line-height: 135%;
  text-align: center;
  color: $black;
}
