.button {
  width: 100%;
  min-height: 68px;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: $white;
  background-color: $brown;
  border: 1px solid $brown;
  cursor: pointer;

  &--apply {
    margin-bottom: 25px;
  }

  &--outline {
    color: $darker-grey;
    border: 1px solid $brown;
    background-color: $white;
  }

  &--login {
    margin-top: 44px;
  }
}

@media (max-width: $width-only-mobile) {
  .button--login {
    margin-top: 36px;
  }
}

.button:hover,
.button:active,
.button:focus {
  color: $darker-grey;
  background-color: $white;
}

.button--outline:hover,
.button--outline:active,
.button--outline:focus {
  color: $white;
  background-color: $brown;
}
