.contacts {
  @include container;
  margin-bottom: 60px;
}

.contacts div {
  text-align: center;
}

.contacts__social {
  @include font-cormorant;
  margin: 0;
  font-size: 34px;
  letter-spacing: 0.03em;
}
