.container {
  @include container;

  &--grid {
    min-height: 463px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &--catalog {
    min-height: 261px;
  }
}

@media (max-width: $width-only-mobile) {
  .container--catalog p {
    text-align: center;
  }
}
