.contacts {
  @include container;
  margin-bottom: 131px;
}

@media (max-width: $width-only-tablet) {
  .contacts {
    margin-bottom: 77px;
  }
}

@media (max-width: $width-only-mobile) {
  .contacts {
    margin-bottom: 69px;
  }
}

.contacts div {
  text-align: center;
}

.contacts__social {
  @include font-cormorant;
  margin: 0;
  font-size: 34px;
  letter-spacing: 0.03em;
}

.contacts__link {
  margin: 43px 0 0 0;
}

@media (max-width: $width-only-tablet) {
  .contacts__link {
    margin-top: 30px;
  }
}
