.filter {
  display: block;
}

@media (max-width: $width-only-tablet) {
  .filter {
    display: none;

    &--open {
      display: block;
    }
  }

  .filter__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    padding-top: 27px;
    background-color: $white;
  }

  .filter__form {
    position: relative;
    max-width: 423px;
    padding-bottom: 40px;
    box-shadow: 0 5px 32px $dark-gray;
  }
}

@media (max-width: $width-only-mobile) {
  .filter__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
  }

  .filter__form {
    width: 100%;
    max-width: none;
  }
}

.filter ul {
  @include reset-list;
}

.filter__form > ul {
  border: 1px solid $brown;
  margin-bottom: 35px;
}

@media (max-width: $width-only-tablet) {
  .filter__form > ul {
    border: 0;
    margin-bottom: 38px;
  }
}

@media (max-width: $width-only-mobile) {
  .filter__form > ul {
    margin-bottom: 29px;
  }
}


.filter__group + .filter__group {
  border-top: 1px solid $brown;
}

@media (max-width: $width-only-tablet) {
  .filter__group:last-child {
    border-bottom: 1px solid $brown;
  }
}

.filter__group-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 25px 22px 25px;
  cursor: pointer;
}

@media (max-width: $width-only-tablet) {
  .filter__group-title {
    padding: 34px 45px 34px 21px;
  }

  .filter__group-title[aria-expanded="true"] {
    padding-bottom: 22px;
  }
}

@media (max-width: $width-only-mobile) {
  .filter__group-title {
    padding-right: 24px;
    padding-top: 28px;
    padding-bottom: 20px;
  }
}

.filter__group-title h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
}

@media (max-width: $width-only-tablet) {
  .filter__group-title h3 {
    font-size: 18px;
  }
}

.filter__group-icon {
  color: $brown;
  transform-origin: center;
}

@media (max-width: $width-only-tablet) {
  .filter__group-icon {
    transform: scale(1.55);
  }
}

.filter__group-title[aria-expanded="true"] .filter__group-icon {
  transform: rotateX(180deg);
}

@media (max-width: $width-only-tablet) {
  .filter__group-title[aria-expanded="true"] .filter__group-icon {
    transform: scale(1.55) rotateX(180deg);
  }
}

.filter__group-content {
  padding: 0 25px 25px 25px;
}

@media (max-width: $width-only-tablet) {
  .filter__group-content {
    padding-bottom: 36px;
  }
}

@media (max-width: $width-only-mobile) {
  .filter__group-content {
    padding-bottom: 25px;
  }
}

.filter__group-content ul {
  margin-left: 9px;
}

@media (max-width: $width-only-tablet) {
  .filter__group-content ul {
    margin-left: 6px;
  }
}

.filter__group-content li + li {
  margin-top: 10px;
}

@media (max-width: $width-only-tablet) {
  .filter__group-content li + li {
    margin-top: 18px;
  }
}

.filter__checkbox + label {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: $width-only-tablet) {
  .filter__checkbox + label {
    font-size: 16px;
  }
}

.filter__checkbox + label::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;
  border: 1px solid $brown;
  margin-right: 10px;
  background-color: transparent;
}

@media (max-width: $width-only-tablet) {
  .filter__checkbox + label::before {
    width: 18px;
    height: 18px;
  }
}

.filter__checkbox:checked + label::before {
  background-color: $brown;
}

@media (max-width: $width-only-tablet) {
  .filter__button-wrapper {
    margin-right: 40px;
    margin-left: 21px;
  }
}

@media (max-width: $width-only-mobile) {
  .filter__button-wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.filter__close {
  display: none;
  position: absolute;
  right: -16px;
  top: -16px;
  z-index: 3;
  border: 0;
  padding: 0;
  background-color: transparent;
  color: $darker-grey;
  cursor: pointer;
}

.filter__close:hover {
  color: $brown;
}

@media (max-width: $width-only-tablet) {
  .filter__close {
    display: block;
  }
}

@media (max-width: $width-only-mobile) {
  .filter__close {
    right: -10px;
  }
}
