.filter h3 {
  margin: 0;
  font-weight: 500;
}

@media (max-width: $width-only-tablet) {
  .filter h3 {
    font-size: 18px;
  }
}

.filter ul {
  @include reset-list;
}

.filter__item label {
  font-size: 14px;
}

@media (max-width: $width-only-tablet) {
  .filter__item label {
    font-size: 16px;
  }
}
