.filter {
  border-top: 1px solid $brown;
  border-left: 1px solid $brown;
  border-right: 1px solid $brown;
  padding: 28px 25px;
}

.filter:last-child {
  border-bottom: 1px solid $brown;
}

.filter__title-container {
  position: relative;
}

.filter__title-container[aria-expanded="false"] .filter__icon--close {
  display: none;
}

.filter__title-container[aria-expanded="true"] .filter__icon--open {
  display: none;
}

.filter h3 {
  margin: 0;
  font-weight: 500;
}

@media (max-width: $width-only-tablet) {
  .filter h3 {
    font-size: 18px;
  }
}

.filter__icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 8px;
  color: $brown;
}

.filter ul {
  @include reset-list;
  margin: 30px 0 0 0;
}

.filter__item label {
  position: relative;
  padding-left: 25px;
  font-size: 14px;
}

@media (max-width: $width-only-tablet) {
  .filter__item label {
    font-size: 16px;
  }
}

.filter__checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid $brown;
  background-color: transparent;
}

.filter__checkbox:checked + label::before {
  background-color: $brown;
}

.filter__range {
  margin-top: 30px;
}

.filter__range-line {
  position: relative;
  height: 1px;
  width: 100%;
  background-color: $beige;
}

.filter__range-scale {
  position: absolute;
  height: 15px;
  width: 15px;
  top: -7px;
  border-radius: 50%;
  background-color: $brown;

  &--min {
    left: 45px;
  }

  &--max {
    right: 35px;
  }
}

.filter__range-space {
  position: absolute;
  height: 1px;
  width: 90px;
  left: 60px;
  background-color: $brown;
}
