.footer {
  flex: none;
  padding-top: 89px;
  padding-bottom: 88px;
  color: $white;
  background-color: $black;
}

@media (max-width: $width-only-tablet) {
  .footer {
    padding-top: 51px;
    padding-bottom: 52px;
  }
}

@media (max-width: $width-only-mobile) {
  .footer {
    padding-top: 49px;
  }
}

.footer__grid {
  display: flex;
}

@media (max-width: $width-only-tablet) {
  .footer__grid {
    flex-direction: column;
  }
}

.footer__information {
  width: 50.5%;
}

@media (max-width: $width-only-tablet) {
  .footer__information {
    width: 100%;
  }
}

.footer__information h3 {
  @include font-cormorant;
  margin: 0;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.02em;
}

.footer__information p {
  margin: 9px 0 0 0;
  font-weight: 400;
  color: $grey;
}

@media (max-width: $width-only-mobile) {
  .footer__information p {
    line-height: 140%;
    margin-top: 12px;
  }
}

.footer__input form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 88px;
  margin-top: 45px;
  padding-bottom: 6px;
  border-bottom: 1px solid $white;
}

@media (max-width: $width-only-tablet) {
  .footer__input form {
    margin-right: 117px;
  }
}

@media (max-width: $width-only-mobile) {
  .footer__input form {
    margin-right: 0;
    margin-top: 42px;
  }
}

.footer__input input {
  font-size: 14px;
  line-height: 21px;
  color: $white;
  background-color: inherit;
  border: 0;
}

.footer__input input:hover,
.footer__input input:active,
.footer__input input:focus {
  outline: 1px solid $white;
}

@media (max-width: $width-only-mobile) {
  .footer__input input {
    width: 50%;
  }
}

.footer__input input::placeholder {
  opacity: 1;
  color: $grey;
}

.footer__input button {
  padding: 0;
  border: 0;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

.footer__input span {
  margin-right: 12px;
}

@media (max-width: $width-only-tablet) {
  .footer__input span {
    margin-right: 8px;
  }
}

.footer__input button:hover span,
.footer__input button:active span,
.footer__input button:focus span,
.footer__input button:hover svg,
.footer__input button:active svg,
.footer__input button:focus svg {
  color: $brown;
}

.footer__links {
  width: 49.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 7px;
}

@media (max-width: $width-only-tablet) {
  .footer__links {
    width: 100%;
    margin-top: 47px;
    padding-top: 0;
    padding-right: 106px;
  }
}

@media (max-width: $width-only-mobile) {
  .footer__links {
    flex-direction: column;
    padding-right: 0;
  }
}

.footer__list {
  @include reset-list;

  &--center {
    transform: translateX(-17px);
  }
}

@media (max-width: $width-only-tablet) {
  .footer__list--center {
    transform: none;
  }
}

.footer__list li + li {
  margin-top: 20px;
}

@media (max-width: $width-only-mobile) {
  .footer__list li + li {
    margin-top: 0;
  }

  .footer__list--link + .footer__list--link {
    margin-top: 45px;
  }

  .footer__list--link li + li {
    margin-top: 20px;
  }
}

.footer__list a {
  color: inherit;
}

.footer__list a:hover,
.footer__list a:active,
.footer__list a:focus {
  color: $brown;
}

.footer__break-mobile {
  display: none;
}

@media (max-width: $width-only-mobile) {
  .footer__break-mobile {
    display: block;
  }
}
