.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  color: $white;
  background-color: $black;
}

.footer__grid {
  display: flex;
}

@media (max-width: $width-only-tablet) {
  .footer__grid {
    flex-direction: column;
  }
}

.footer__information {
  width: 48%;
}

@media (max-width: $width-only-tablet) {
  .footer__information {
    width: 100%;
  }
}

.footer__links {
  width: 52%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: $width-only-tablet) {
  .footer__links {
    width: 100%;
  }
}

@media (max-width: $width-only-mobile) {
  .footer__links {
    flex-direction: column;
  }
}

.footer__information h3 {
  @include font-cormorant;
  margin: 0;
  font-size: 34px;
  letter-spacing: 0.03em;
}

.footer__information p {
  font-weight: 400;
  color: $grey;
}

@media (max-width: $width-only-mobile) {
  .footer__information p {
    line-height: 140%;
  }
}

.footer__input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 88px;
  border-bottom: 1px solid $white;
}

.footer__input input {
  background-color: inherit;
  border: 0;
}

.footer__input input::placeholder {
  font-size: 14px;
  line-height: 21px;
  opacity: 1;
  color: $grey;
}

.footer__input a {
  margin-right: 41px;
  color: inherit;
}

.footer__list {
  @include reset-list;
}

.footer__list a {
  color: inherit;
}
