.gallery {
  @include reset-list;
  margin-top: 63px;
  display: grid;
  //grid-template-columns: 1fr max-content 1fr 1fr;
  //grid-template-rows: auto auto;
  grid-template-columns: minmax(133px, 4fr) minmax(231px, 7fr) minmax(133px, 4fr) minmax(133px, 4fr);
  grid-column-gap: 27px;
  grid-row-gap: 34px;
}

@media (max-width: $width-only-tablet) {
  .gallery {
    margin-top: 66px;
    grid-template-columns: 4fr 7fr 4fr 4fr;
    grid-column-gap: 16px;
    grid-row-gap: 21px;
  }
}

@media (max-width: $width-only-mobile) {
  .gallery {
    margin-top: 54px;
    grid-column-gap: 24px;
    grid-row-gap: 27px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
}

.gallery li div {
  background-color: $brown;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery li:nth-child(7n+1),
.gallery li:nth-child(7n+2),
.gallery li:nth-child(7n+4),
.gallery li:nth-child(7n+6) {
  min-width: 133px;
}

.gallery li:nth-child(7n+1) {
  grid-row-start: 1;
  grid-row-end: 2;
  //height: 230px;
}

.gallery li:nth-child(7n+1) div {
  background-image: url("../img/gallery-square-earrings-desktop.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gallery-square-earrings-desktop@2x.jpg");
  }
}

.gallery li:nth-child(7n+1) div,
.gallery li:nth-child(7n+4) div,
.gallery li:nth-child(7n+5) div {
  padding-top: 100%;
}

.gallery li:nth-child(7n+2) div,
.gallery li:nth-child(7n+6) div,
.gallery li:nth-child(7n+7) div {
  padding-top: 65%;
}

@media (max-width: $width-only-mobile) {
  .gallery li:nth-child(7n+4) div,
  .gallery li:nth-child(7n+5) div {
    padding-top: 65%;
  }

  .gallery li:nth-child(7n+3) div {
    padding-top: 185.7%;
  }
}

@media (max-width: $width-only-tablet) {
  .gallery li:nth-child(7n+1) div {
    //height: 133px;
    background-image: url("../img/gallery-square-earrings-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gallery-square-earrings-tablet@2x.jpg");
    }
  }
}

.gallery li:nth-child(7n+2) {
  //height: 150px;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gallery li:nth-child(7n+2) div {
  background-image: url("../img/gallery-many-jewelleries.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gallery-many-jewelleries@2x.jpg");
  }
}

@media (max-width: $width-only-tablet) {
  .gallery li:nth-child(7n+2) div {
    //height: 87px;
    background-image: url("../img/gallery-many-jewelleries-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gallery-many-jewelleries-tablet@2x.jpg");
    }
  }
}

@media (max-width: $width-only-mobile) {
  .gallery li:nth-child(7n+2) {
    //height: 87px;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.gallery li:nth-child(7n+3) {
  //width: 399px;
  //height: 412px;
  min-width: 231px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.gallery li:nth-child(7n+3) div {
  padding-top: 103%;
  background-image: url("../img/gallery-woman-with-jewellery.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gallery-woman-with-jewellery@2x.jpg");
  }
}

@media (max-width: $width-only-tablet) {
  .gallery li:nth-child(7n+3) div {
    //width: auto;
    //height: 240px;
    background-image: url("../img/gallery-woman-with-jewellery-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gallery-woman-with-jewellery-tablet@2x.jpg");
    }
  }
}

@media (max-width: $width-only-mobile) {
  .gallery li:nth-child(7n+3) {
    min-width: 133px;
  }

  .gallery li:nth-child(7n+3) div {
    background-image: url("../img/gallery-woman-with-jewellery-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gallery-woman-with-jewellery-mobile@2x.jpg");
    }
  }
}

.gallery li:nth-child(7n+4) {
  grid-column-start: 3;
  grid-column-end: 4;
}

.gallery li:nth-child(7n+4) div {
  background-image: url("../img/gallery-bracelets.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gallery-bracelets@2x.jpg");
  }
}

@media (max-width: $width-only-tablet) {
  .gallery li:nth-child(7n+4) div {
    background-image: url("../img/gallery-bracelets-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gallery-bracelets-tablet@2x.jpg");
    }
  }
}

@media (max-width: $width-only-mobile) {
  .gallery li:nth-child(7n+4) {
    //height: 87px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .gallery li:nth-child(7n+4) div {
    background-image: url("../img/gallery-gem-stones-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gallery-gem-stones-tablet@2x.jpg");
    }
  }
}

.gallery li:nth-child(7n+5) {
  grid-column-start: 4;
  grid-column-end: 5;
}

.gallery li:nth-child(7n+5) div {
  background-image: url("../img/gallery-rings.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gallery-rings@2x.jpg");
  }
}

@media (max-width: $width-only-tablet) {
  .gallery li:nth-child(7n+5) div {
    background-image: url("../img/gallery-rings-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gallery-rings-tablet@2x.jpg");
    }
  }
}

@media (max-width: $width-only-mobile) {
  .gallery li:nth-child(7n+5) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .gallery li:nth-child(7n+5) div {
    background-image: url("../img/gallery-arms-with-rings-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gallery-arms-with-rings-tablet@2x.jpg");
    }
  }
}

.gallery li:nth-child(7n+6) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gallery li:nth-child(7n+6) div {
  background-image: url("../img/gallery-gem-stones.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gallery-gem-stones@2x.jpg");
  }
}

@media (max-width: $width-only-tablet) {
  .gallery li:nth-child(7n+6) div {
    background-image: url("../img/gallery-gem-stones-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gallery-gem-stones-tablet@2x.jpg");
    }
  }
}

@media (max-width: $width-only-mobile) {
  .gallery li:nth-child(7n+6) {
    display: none;
  }
}

.gallery li:nth-child(7n+7) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gallery li:nth-child(7n+7) div {
  background-image: url("../img/gallery-arms-with-rings.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gallery-arms-with-rings@2x.jpg");
  }
}

@media (max-width: $width-only-tablet) {
  .gallery li:nth-child(7n+7) div {
    background-image: url("../img/gallery-arms-with-rings-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gallery-arms-with-rings-tablet@2x.jpg");
    }
  }
}

@media (max-width: $width-only-mobile) {
  .gallery li:nth-child(7n+7) {
    display: none;
  }
}
