.header {
  padding-top: 30px;
}

@media (max-width: $width-only-tablet) {
  .header {
    background-color: $brown;
    color: $white;
  }
}

.header__grid {
  @include container;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__button {
  display: none;
}

@media (max-width: $width-only-tablet) {
  .header__button {
    display: block;
    top: 0;
    left: 0;
    width: 35px;
    height: 101px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
  }

  .header__button::before {//.nav--opened
    content: "";
    position: absolute;
    top: 55px;
    left: 45px;
    width: 25px;
    height: 2px;
    background-color: $white;
    box-shadow: 0 6px 0 0 $white, 0 13px 0 0 $white;
  }
}

.header input {
  border: 0;
}

.header input::placeholder {
  font-size: 14px;
  color: $grey;
}

@media (max-width: $width-only-tablet) {
  .header input {
    background-color: $light-white;
    border-radius: 21px;
    border: 0;
  }
}

@media (max-width: $width-only-tablet) {
  .header label {
    position: absolute;
    top: 106px;
  }
}
