.header {
  padding-top: 30px;
}

@media (max-width: $width-only-tablet) {
  .header {
    padding-top: 25px;
    background-color: $brown;
    color: $white;
  }
}

@media (max-width: $width-only-mobile) {
  .header {
    padding-top: 15px;
  }
}

@media (max-width: $width-only-tablet) {
  .header--closed {
    background-color: $white;
    color: $darker-grey;
  }

  .header--closed .nav-wrapper,
  .header--closed .header__grid label {
    display: none;
  }

  .header--closed .header__button::before {
    background-color: $darker-grey;
    box-shadow: 0 6px 0 0 $darker-grey, 0 13px 0 0 $darker-grey;
  }

  .header--closed .header__logo {
    color: $brown;
  }

  .header--closed .nav-user__item svg {
    color: $darker-grey;
  }

  .no-js .header__button {
    display: none;
  }
}

.header--static {
  background-color: $white;
  color: $darker-grey;
}

.header--static .header__logo {
  color: $brown;
}

.header__grid {
  @include container;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header--static .header__grid {
  justify-content: center;
}

.header--static p {
  text-align: center;
}

.header--static a {
  color: $darker-grey;
}

.header--static a:hover,
.header--static a:active,
.header--static a:focus {
  color: $brown;
}

.header__button {
  display: none;
}

@media (max-width: $width-only-tablet) {
  .header__button {
    display: block;
    top: 0;
    left: 0;
    width: 35px;
    height: 101px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
  }
}

@media (max-width: $width-only-mobile) {
  .header__button {
    height: auto;
    width: 25px;
  }
}

.header__button:hover {
  cursor: pointer;
}

@media (max-width: $width-only-tablet) {
  .header__button::before {
    content: "";
    position: absolute;
    top: 55px;
    left: 45px;
    width: 25px;
    height: 2px;
    background-color: $white;
    box-shadow: 0 6px 0 0 $white, 0 13px 0 0 $white;
  }
}

@media (max-width: $width-only-mobile) {
  .header__button::before {
    left: 15px;
    top: 38px;
  }
}

.header__logo {
  margin-bottom: 19px;
  color: $brown;
}

@media (max-width: $width-only-tablet) {
  .header__logo {
    margin-top: 5px;
    color: $white;
  }
}

.header__logo svg {
  display: block;
  width: 66px;
  height: 66px;
  color: currentColor;
}

@media (max-width: $width-only-mobile) {
  .header__logo svg {
    width: 52px;
    height: 52px;
  }
}

.header__grid label {
  position: relative;
  margin-top: 9px;
}

@media (max-width: $width-only-tablet) {
  .header__grid label {
    position: absolute;
    top: 125px;
    left: 45px;
    right: 45px;
    background-color: $brown;
  }
}

@media (max-width: $width-only-mobile) {
  .header__grid label {
    top: 94px;
    left: 15px;
    right: 15px;
  }
}

.header__grid input {
  width: 170px;
  padding-left: 29px;
  border: 0;
  font-size: 14px;
}

@media (max-width: $width-only-tablet) {
  .header__grid input {
    width: 100%;
    height: 40px;
    background-color: $light-white;
    border-radius: 21px;
    border: 0;
  }
}

.header__grid input:hover,
.header__grid input:active,
.header__grid input:focus {
  outline: 1px solid $darker-grey;
}

.header__grid input::placeholder {
  color: $grey;
}

@media (max-width: $width-only-tablet) {
  .header__grid input::placeholder {
    color: transparent;
  }
}

.header__search-icon {
  position: absolute;
  top: 6px;
  left: 0;
  color: $black;
}

@media (max-width: $width-only-tablet) {
  .header__search-icon {
    top: 0;
    bottom: 0;
    left: 12px;
    margin: auto;
    transform: scale(1.1);
    color: $white;
  }
}
