.nav-user {
  margin-top: 17px;
  padding-left: 54px;
}

@media (max-width: $width-only-tablet) {
  .nav-user {
    padding-left: 0;
  }
}

.nav-user ul {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-user__item + .nav-user__item {
  margin-left: 35px;
}

@media (max-width: $width-only-tablet) {
  .nav-user__item + .nav-user__item {
    margin-left: 0;
  }
}

@media (max-width: $width-only-tablet) {
  .nav-user__item--login {
    display: none;
  }
}

.nav-user__item a {
  font-size: 14px;
  color: inherit;
}

.nav-user__item svg {
  display: none;
}

@media (max-width: $width-only-tablet) {
  .nav-user__item svg {
    display: block;
    //color: $darker-grey;
    color: $white;
  }

  .nav-user__item span {
    display: none;
  }
}
