.nav {
  @include container;
}

@media (max-width: $width-only-tablet) {
  .nav {
    padding-top: 82px;
    padding-bottom: 80px;
    max-height: 100vh;
    overflow-y: auto;
  }
}

@media (max-width: $width-only-mobile) {
  .nav {
    padding-top: 74px;
  }
}

.nav__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 10px;
}

@media (max-width: $width-only-tablet) {
  .nav__list {
    flex-direction: column;
    padding-left: 0;
  }
}

.nav__list-extra,
.nav__list-login {
  display: none;
}

@media (max-width: $width-only-tablet) {
  .nav__list-extra,
  .nav__list-login {
    @include reset-list;
    display: block;
    margin-top: 44px;
  }

  .nav__list-extra a {
    font-size: 18px;
    color: $lighter-white;
  }

  .nav__list-login a {
    font-size: 18px;
    color: inherit;
  }
}

@media (max-width: $width-only-mobile) {
  .nav__list-extra,
  .nav__list-login {
    margin-top: 34px;
  }
}

.nav__item + .nav__item {
  margin-left: 35px;
}

@media (max-width: $width-only-tablet) {
  .nav__item + .nav__item {
    margin-left: 0;
    margin-top: 33px;
  }
}

@media (max-width: $width-only-tablet) {
  .nav__list-extra li + li {
    margin-top: 23px;
  }
}

@media (max-width: $width-only-mobile) {
  .nav__list-extra li + li {
    margin-top: 22px;
  }
}

.nav__item a {
  line-height: 24px;
  color: inherit;
}

@media (max-width: $width-only-tablet) {
  .nav__item a {
    font-size: 24px;
  }
}

.nav__item a:hover,
.nav__item a:active,
.nav__item a:focus {
  color: $brown;
}

@media (max-width: $width-only-tablet) {
  .nav__item a:hover,
  .nav__item a:active,
  .nav__item a:focus,
  .nav__list-extra a:hover,
  .nav__list-extra a:active,
  .nav__list-extra a:focus,
  .nav__list-login a:hover,
  .nav__list-login a:active,
  .nav__list-login a:focus {
    color: $darker-grey;
  }
}
