.nav {
  @include container;
}

@media (max-width: $width-only-tablet) {
  .nav {
    padding-top: 55px;
    padding-bottom: 80px;
  }
}

.nav__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: $width-only-tablet) {
  .nav__list {
    flex-direction: column;
  }
}

.nav__list-extra,
.nav__list-login {
  display: none;
}

@media (max-width: $width-only-tablet) {
  .nav__list-extra,
  .nav__list-login {
    @include reset-list;
    display: block;
    margin-top: 55px;
  }

  .nav__list-extra a {
    font-size: 18px;
    color: $lighter-white;
  }

  .nav__list-login a {
    font-size: 18px;
    color: inherit;
  }
}

.nav__item + .nav__item {
  margin-left: 35px;
}

@media (max-width: $width-only-tablet) {
  .nav__list-extra li + li {
    margin-top: 30px;
  }
}

@media (max-width: $width-only-tablet) {
  .nav__item + .nav__item {
    margin-left: 0;
    margin-top: 40px;
  }
}

.nav__item a {
  line-height: 24px;
  color: inherit;
}

@media (max-width: $width-only-tablet) {
  .nav__item a {
    font-size: 24px;
  }
}

.nav__item a:hover {
  color: $brown;
}

@media (max-width: $width-only-tablet) {
  .nav__item a:hover,
  .nav__list-extra a:hover,
  .nav__list-login a:hover {
    color: $darker-grey;
  }
}
