.product-card a {
  display: block;
  color: inherit;
}

.product-card a:hover {
  outline: 2px solid $brown;
}

.product-card a:hover .product-card__information {
  background-color: $brown;
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-card__information {
  padding-top: 22px;
  text-align: center;
}

.product-card__information h4 {
  margin: 0 0 4px 0;
  font-weight: 500;
}

.product-card__information span {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;/* or 18px */
}
