.product-catalog__list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 40px;
}

@media (max-width: $width-only-mobile) {
  .product-catalog__list {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
  }
}

.product-catalog__pagination-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-catalog__pagination {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
