.promo {
  position: relative;
  background-color: $brown;
  color: $white;
}

.promo__image {
  max-width: 1366px;
  margin: 0 auto;
  background-repeat: no-repeat;

  &--main {
    background-image: url("../img/main-promo-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-promo-desktop@2x.png");
    }
  }

  &--catalog {
    background-image: url("../img/catalog-promo-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog-promo-desktop@2x.png");
    }
  }
}

@media (max-width: $width-only-tablet) {
  .promo__image {
    background-size: cover;

    &--main {
      background-image: url("../img/main-promo-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/main-promo-tablet@2x.png");
      }
    }

    &--catalog {
      background-image: url("../img/catalog-promo-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog-promo-tablet@2x.png");
      }
    }
  }
}

@media (max-width: $width-only-mobile) {
  .promo__image {
    &--main {
      background-image: url("../img/main-promo-mobile.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/main-promo-mobile@2x.png");
      }
    }

    &--catalog {
      background-image: url("../img/catalog-promo-mobile.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog-promo-mobile@2x.png");
      }
    }
  }
}

.promo__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $dark-brown;
}

.promo h1 {
  @include font-cormorant;
  z-index: 1;
  margin: 0;
  font-size: 45px;
  line-height: 115%;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.promo--catalog h1 {
  letter-spacing: 0;
  margin-bottom: 5px;
  font-size: 34px;
}

@media (max-width: $width-only-tablet) {
  .promo h1 {
    transform: translate(-9px, 2px);
  }

  .promo--catalog h1 {
    transform: none;
  }
}

@media (max-width: $width-only-mobile) {
  .promo h1 {
    font-size: 38px;
    transform: translate(0, 5px);
  }

  .promo--catalog h1 {
    transform: none;
  }
}

.promo p {
  @include font-cormorant;
  z-index: 1;
  margin: 0;
  font-style: italic;
  font-weight: 400;
  font-size: 38px;
  line-height: 130%; /* or 49px */
}

@media (max-width: $width-only-tablet) {
  .promo p {
    transform: translateX(-10px);
  }

  .promo--catalog p {
    transform: none;
  }
}

@media (max-width: $width-only-mobile) {
  .promo p {
    font-size: 34px;
    transform: none;
  }
}

.promo--catalog p {
  font-weight: 500;
  font-size: 22px;
}

@media (max-width: $width-only-mobile) {
  .promo--catalog p {
    line-height: 120%;
  }
}
