.questions {
  @include container;
  max-width: 970px;
  padding-top: 130px;
  padding-bottom: 108px;
}

.questions h3 {
  @include font-cormorant;
  margin: 0;
  font-size: 34px;
  letter-spacing: 0.03em;
  text-align: center;
}

.questions ul {
  @include reset-list;
  margin-top: 60px;
}

.questions ul:last-child {
  border-bottom: 1px solid $brown;
}

.questions__item {
  position: relative;
  padding: 50px 52px 50px 43px;
  border-top: 1px solid $brown;
  border-left: 1px solid $brown;
  border-right: 1px solid $brown;
}

@media (max-width: $width-only-tablet) {
  .questions__item {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: $width-only-mobile) {
  .questions__item {
    padding: 22px 25px 24px 25px;
  }
}

.questions__item div[aria-expanded="false"] .questions__icon--close {
  display: none;
}

.questions__item div[aria-expanded="true"] .questions__icon--open {
  display: none;
}

.questions__item h4 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}

@media (max-width: $width-only-mobile) {
  .questions__item h4 {
    font-size: 16px;
    line-height: 140%;
  }
}

.questions__icon {
  position: absolute;
  top: 52px;
  right: 50px;
  width: 17px;
  height: 10px;
  color: $brown;
}

.questions__item p {
  margin: 20px 0 0 0;
  width: 60%;
  font-weight: 400;
}

@media (max-width: $width-only-tablet) {
  .questions__item p {
    width: 90%;
  }
}

@media (max-width: $width-only-mobile) {
  .questions__item p {
    font-size: 14px;
    line-height: 140%;
  }
}
