.questions {
  @include container;
  max-width: 990px;
  padding-top: 120px;
  padding-bottom: 120px;
}

@media (max-width: $width-only-tablet) {
  .questions {
    padding-top: 70px;
    padding-bottom: 84px;
  }
}

@media (max-width: $width-only-mobile) {
  .questions {
    padding-top: 60px;
    padding-bottom: 70px;
  }
}

.questions h3 {
  @include font-cormorant;
  margin: 0;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-align: center;
}

.questions ul {
  @include reset-list;
  margin-top: 49px;
}

@media (max-width: $width-only-mobile) {
  .questions ul {
    margin-top: 28px;
  }
}

.questions ul:last-child {
  border-bottom: 1px solid $brown;
}

.questions__item {
  position: relative;
  border-top: 1px solid $brown;
  border-left: 1px solid $brown;
  border-right: 1px solid $brown;
}

.questions__item button {
  width: 100%;
  padding: 45px 52px 42px 43px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.questions__item button[aria-expanded="true"] {
  padding-bottom: 8px;
}

@media (max-width: $width-only-tablet) {
  .questions__item button {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 45px;
  }

  .questions__item button[aria-expanded="true"] {
    padding-bottom: 25px;
  }
}

@media (max-width: $width-only-mobile) {
  .questions__item button {
    padding: 16px 45px 18px 24px;
  }

  .questions__item button[aria-expanded="true"] {
    padding-bottom: 12px;
  }
}

.questions__item:nth-child(3n+3) button,
.questions__item:nth-child(4n+4) button {
  padding-top: 48px;
}

@media (max-width: $width-only-tablet) {
  .questions__item:nth-child(3n+3) button,
  .questions__item:nth-child(4n+4) button {
    padding-top: 44px;
  }
}

@media (max-width: $width-only-mobile) {
  .questions__item:nth-child(3n+3) button,
  .questions__item:nth-child(4n+4) button{
    padding-top: 20px;
  }
}

.questions__item button[aria-expanded="false"] .questions__icon--close {
  display: none;
}

.questions__item button[aria-expanded="true"] .questions__icon--open {
  display: none;
}

.questions__item button:hover,
.questions__item button:active,
.questions__item button:focus {
  color: $brown;
}

.questions__item h4 {
  margin: 0;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
}

@media (max-width: $width-only-mobile) {
  .questions__item h4 {
    font-size: 16px;
    line-height: 140%;
  }
}

.questions__item h4:hover,
.questions__item h4:active,
.questions__item h4:focus {
  cursor: pointer;
}

.questions__icon {
  position: absolute;
  top: 52px;
  right: 50px;
  width: 17px;
  height: 10px;
  color: $brown;
}

@media (max-width: $width-only-tablet) {
  .questions__icon {
    transform: translate(-2px, -2px) scale(1.55);
  }
}

@media (max-width: $width-only-mobile) {
  .questions__icon {
    top: 27px;
    right: 24px;
  }
}

.questions__icon:hover,
.questions__icon:active,
.questions__icon:focus {
  color: $darker-grey;
  cursor: pointer;
}

.questions__item p {
  margin: 0;
  padding: 0 52px 42px 50px;
  width: 63%;
  font-weight: 400;
}

@media (max-width: $width-only-tablet) {
  .questions__item p {
    width: 95%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 45px;
  }
}

@media (max-width: $width-only-mobile) {
  .questions__item p {
    font-size: 14px;
    line-height: 145%;
    padding: 0 45px 18px 24px;
  }
}

.questions__break-mobile {
  display: none;
}

@media (max-width: $width-only-mobile) {
  .questions__break-mobile {
    display: block;
  }
}
