.slider {
  width: 100%;
  margin-top: 118px;
}

@media (max-width: $width-only-tablet) {
  .slider {
    margin-top: 69px;
  }
}

@media (max-width: $width-only-mobile) {
  .slider {
    margin-top: 60px;
  }
}

.slider__inner {
  height: auto;
}

.slider__pagination {
  display: flex;
  justify-content: center;
  margin-top: 54px;
  font-size: 16px;
  line-height: 1;
}

@media (max-width: $width-only-tablet) {
  .slider__pagination {
    margin-top: 42px;
  }
}

@media (max-width: $width-only-mobile) {
  .slider__pagination {
    margin-top: 34px;
  }
}

.slider__number {
  display: inline-block;
  vertical-align: top;
  color: $grey;
  cursor: pointer;
}

.slider__number + .slider__number {
  margin-left: 15px;
}

@media (max-width: $width-only-tablet) {
  .slider__number + .slider__number {
    margin-left: 13px;
  }
}

.slider__number--active {
  color: $darker-grey;
}

.slider__divider {
  margin-left: 10px;
  margin-right: 10px;
}

.slider__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

@media (max-width: $width-only-tablet) {
  .slider__header {
    margin-bottom: 55px;
  }
}

@media (max-width: $width-only-mobile) {
  .slider__header {
    margin-bottom: 45px;
    justify-content: center;
  }
}

.slider__header-text {
  text-align: center;
}

.slider__header-text p {
  margin: 0;
}

.slider__title {
  margin-bottom: 24px;
}

@media (max-width: $width-only-tablet) {
  .slider__title {
    margin-bottom: 20px;
  }
}

.slider__btn {
  display: inline-block;
  vertical-align: top;
  border: 0;
  padding: 0;
  background-color: transparent;
  transform: translateY(6px);
  cursor: pointer;
}

@media (max-width: $width-only-tablet) {
  .slider__btn {
    transform: translateY(8px);
  }
}

@media (max-width: $width-only-mobile) {
  .slider__btn {
    display: none;
  }
}

.slider__arrow {
  color: $brown;

  &--desktop {
    display: block;
  }

  &--tablet {
    display: none;
  }
}

@media (max-width: $width-only-tablet) {
  .slider__arrow {
    &--desktop {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }
}

.slider__arrow:hover {
  color: $darker-grey;
}


