@media (max-width: $width-only-mobile) {
  .social {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-column-gap: 30px;
    margin-top: 50px;
  }
}

.social__link {
  display: inline-grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 15px;

  &--facebook {
    grid-column-gap: 22px;
  }
}

@media (max-width: $width-only-mobile) {
  .social__link {
    grid-column-gap: 0;

    &--facebook {
      grid-column-gap: 0;
    }
  }
}

.social__link svg {
  color: $white;
}

@media (max-width: $width-only-mobile) {
  .social__link svg {
    height: 21px;
    width: auto;
  }
}

.social__link:hover svg {
  color: $brown;
}

@media (max-width: $width-only-mobile) {
  .social__link span {
    display: none;
  }
}
