$black: #000000;
$darker-grey: #1d1613;
$brown: #a87b62;
$dark-brown: rgba(86, 64, 52, 0.7);
$grey: #9b9997;
$light-grey: #f6f5f4;
$beige: #f0eae4;
$white: #ffffff;
$light-white: rgba($white, 0.15);
$lighter-white: rgba($white, 0.75);
