html {
  height: 100%;
}

body {
  font-family: "Poppins", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;/* or 21px */
  color: $darker-grey;
}

a {
  text-decoration: none;
}
