@mixin font-cormorant {
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-weight: 700;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin container {
  width: 100%;
  max-width: 1190px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;

  @media (max-width: $width-only-tablet) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: $width-only-mobile) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
